<body class="body">
    <p class="body__p">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam illum laudantium aut ea quos veniam amet nisi nam eum nihil voluptate voluptas beatae, quam, impedit culpa doloremque soluta in quaerat.
    </p>

    <p class="body__p body--green">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam illum laudantium aut ea quos veniam amet nisi nam eum nihil voluptate voluptas beatae, quam, impedit culpa doloremque soluta in quaerat.
    </p>
</body>